.el-menu--horizontal {
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    gap: 4em;
    div,
    a {
      color: $clr3;
      text-decoration: none;
    }
    & .is-active {
      border-bottom: 2px solid $clr2;
    }
  }
}

// DARK MODE:
body.dark-mode {
  .el-menu.el-menu--horizontal {
    border-bottom: none;
    background: $clr3;
    div {
      & :hover {
        background: darken($clr3, 5%);
      }

      div,
      a {
        color: whitesmoke;
      }
      & .is-active {
        border-bottom: 2px solid whitesmoke;
      }
    }
  }
}
