.fav-cities-title {
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
  margin-block-end: 2em;
}

.fav-cities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}
