.fav-cities-title {
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
  margin-block-end: 2em;
}

.favCity {
  position: relative;
  text-align: center;
  cursor: pointer;

  img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
  }

  div {
    margin: auto;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .city-name {
    scale: 1.3;
  }

  &:hover {
    img {
      opacity: 1;
      transition: 0.2s;
    }

    .city-name {
      scale: 1.3;
      background: rgba(240, 248, 255, 0.362);
      color: $clr1;
    }
    .temp {
      scale: 1.3;
      color: aliceblue;
    }
    .temp-info {
      scale: 1.3;
      color: aliceblue;
    }
  }
}
