.basic-container {
  background-color: aliceblue;
  margin: auto;
  width: 90vw;
  border: 1px solid rgb(113, 113, 111);
  border-radius: 15px;
  padding: 0.7em;
}

.city-details {
  display: flex;
  justify-content: space-between;

  .city {
    text-align: center;
    gap: 3em;
    img {
      width: 12em;
      height: 12em;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 15px 25px -3px rgba(0, 0, 0, 0.2);
    }

    .city-name {
      color: rgb(51, 49, 49);
      text-decoration: underline;
    }
    .country-name {
      color: gray;
    }
  }

  .add-favorite {
    button {
      border-radius: 15px;
      font-size: 1em;
      svg {
        width: 25px;
      }
    }
  }
}

.todays-title {
  text-align: center;
  font-size: 2.5em;
  margin: 0.8em 0 0.8em 0;
}

.days-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .day {
    background-color: lighten($clr1, 14%);
    color: aliceblue;
    font-size: 1.1em;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(195, 196, 191);
    border-radius: 15px;
    display: flex;
    margin: 0.5em;
    padding: 0.5em 2.5em 0.5em 2.5em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    &:hover {
      transition: 0.5s;
      background-color: $clr2;
    }
  }
}

// DARK MODE:
body.dark-mode {
  .basic-container {
    background-color: rgb(145, 145, 142);
  }

  .add-favorite {
    button {
      background-color: $clr3;
    }
  }
  .day {
    background-color: lighten($clr3, 20%);
    border: 1px solid rgb(81, 80, 80);
    color: aliceblue;
    &:hover {
      transition: 0.5s;
      background-color: $clr1;
    }
  }
}
