button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  border: 0;
  background-color: $clr2;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: $clr1;
    transition: 0.3s;
    scale: 1.03;
  }
}

form > * {
  display: block;
  width: 200px;
  margin: 10px 0px;
}
