// Colors
$clr1: #a04e9d;
$clr2: #33bdd6;
$clr3: #575757;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
